@model Sistema1500.Models.BankAccount

@{
    ViewData["Title"] = "Delete";
}

<section class="content-header">
    <h1>1500fh<small>Desenvolvedor Full Stack</small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Conta Bancária</h3>
                </div>
                <div class="box-body">
                    <div class="row" style="font-size: 16px; justify-content:center; display:flex">
                        <div>
                            <h3 class="box-title">Deseja realmente deletar?</h3>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Enterprise)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Enterprise.Id)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Balance)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Balance)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.InitialBalance)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.InitialBalance)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" style="font-size:16px; color:blue;"> <i class="fa fa-undo"> </i> Voltar</a>
    </form>
</section>
