@model Sistema1500.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h1>1500fh<small>Desenvolvedor Full Stack</small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Projetos</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="row" style="font-size: 16px; justify-content:center; display:flex">

                            <form asp-action="Edit" style="display:flex;gap:10px">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-sm-11">
                                    <input type="hidden" asp-for="Id" />
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label" style="color:blue"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Type" class="control-label" style="color:blue"></label>
                                        <select asp-for="Type" class="form-control">
                                            <option> Selecione a opção </option>
                                            <option value="0">Horas</option>
                                            <option value="1">Preço Fechado</option>
                                        </select>
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Fee" class="control-label" style="color:blue"></label>
                                        <select asp-for="Fee" class="form-control">
                                            <option> Selecione a opção </option>
                                            <option value="0"> Tarifa 1 </option>
                                            <option value="1"> Tarifa 2 </option>
                                        </select>
                                        <span asp-validation-for="Fee" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label" style="color:blue"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <label asp-for="Enterprise" class="control-label" style="color:blue"></label>
                                        <input asp-for="Enterprise" class="form-control" />
                                        <span asp-validation-for="Enterprise" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Duration" class="control-label" style="color:blue"></label>
                                        <input asp-for="Duration" class="form-control" />
                                        <span asp-validation-for="Duration" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Value" class="control-label" style="color:blue"></label>
                                        <input asp-for="Value" class="form-control" value="@Model.Value.ToString().Replace("R$","").Replace(".", "").Replace(".", ",")" />
                                        <span asp-validation-for="Value" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-11">
                                    <div class="form-group">
                                        <label asp-for="StartDate" class="control-label" style="color:blue"></label>
                                        <input asp-for="StartDate" class="form-control" type="date" value="@Model.StartDate.ToString("yyyy-MM-dd")" />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EndDate" class="control-label" style="color:blue"></label>
                                        <input asp-for="EndDate" class="form-control" type="date" value="@Model.EndDate.ToString("yyyy-MM-dd")" />
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="InsertDate" class="control-label" style="color:blue"></label>
                                        <input asp-for="InsertDate" class="form-control" type="date" value="@Model.InsertDate.ToString("yyyy-MM-dd")" />
                                        <span asp-validation-for="InsertDate" class="text-danger"></span>
                                    </div>

                                    <hr />
                                    <div class="form-group form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                                        </label>
                                    </div>

                                    <hr />
                                <div class="form-group">
                                    <input type="submit" value="Salvar" class="btn btn-warning" />
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index" style="font-size:16px; color:blue;"><i class="fa fa-undo"></i> Voltar</a>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
