@model Sistema1500.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h1>1500fh<small>Desenvolvedor Full Stack</small></h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pessoas</h3>
                </div>
                <div class="box-body">
                    <div class="row" style="font-size: 16px; justify-content:center; display:flex">

                        <form asp-action="Edit" style="display:flex;gap:10px">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-sm-11">
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label" style="color:blue"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Type" class="control-label" style="color:blue"></label>
                                    <select asp-for="Type" class="form-control">
                                        <option> Selecione a opção </option>
                                        <option> Mentor </option>
                                        <option> Mentorado </option>
                                    </select>
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CircleId" class="control-label" style="color:blue"></label>
                                    <select asp-for="CircleId" class="form-control" asp-items="ViewBag.CircleId">
                                        <option> Selecione a opção </option>
                                    </select>
                                    <span asp-validation-for="CircleId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Cpf" class="control-label" style="color:blue"></label>
                                    <input asp-for="Cpf" class="form-control" />
                                    <span asp-validation-for="Cpf" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label" style="color:blue"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label" style="color:blue"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="BornDate" class="control-label" style="color:blue"></label>
                                    <input asp-for="BornDate" class="form-control" type="date" value="@Model.BornDate.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="BornDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NivelStudy" class="control-label" style="color:blue"></label>
                                    <select asp-for="NivelStudy" class="form-control">
                                        <option> Selecione a opção </option>
                                        <option value="0"> Ensino Fundamental Incompleto </option>
                                        <option value="1"> Ensino Fundamental Completo </option>
                                        <option value="2"> Ensino Medio Incompleto </option>
                                        <option value="3"> Ensino Medio Completo </option>
                                        <option value="4"> Ensino Superior Incompleto </option>
                                        <option value="5"> Ensino Superior Completo </option>
                                    </select>
                                    <span asp-validation-for="NivelStudy" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-sm-11">
                                <div class="form-group">
                                    <label asp-for="University" class="control-label" style="color:blue"></label>
                                    <input asp-for="University" class="form-control" />
                                    <span asp-validation-for="University" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GraduateDate" class="control-label" style="color:blue"></label>
                                    <input asp-for="GraduateDate" class="form-control" type="date" value="@Model.GraduateDate.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="GraduateDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="RegisterDate" class="control-label" style="color:blue"></label>
                                    <input asp-for="RegisterDate" class="form-control" type="date" value="@Model.RegisterDate.ToString("yyyy-MM-dd")" />
                                    <span asp-validation-for="RegisterDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Enterprise" class="control-label" style="color:blue"></label>
                                    <input asp-for="Enterprise" class="form-control" />
                                    <span asp-validation-for="Enterprise" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Recommendation" /> @Html.DisplayNameFor(model => model.Recommendation)
                                    </label>
                                </div>

                                <hr />
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="IsStudy" /> @Html.DisplayNameFor(model => model.IsStudy)
                                    </label>
                                </div>

                                <hr />
                                <div class="form-group">
                                    <input type="submit" value="Salvar" class="btn btn-warning" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index" style="font-size:16px; color:blue;"> <i class="fa fa-undo"> </i> Voltar</a>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
